# Visual Studio 2026 GitIgnore

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasenoopt/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache and settings
.vs/
.vstools/
*.user
*.suo
*.userosscache
*.sln.docstates

## MSBuild intermediate and build outputs
*.[Oo]bj
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.aps
*.res
*.pch
*.lib
*.sbr
*.exp

## Visual Studio Profiling Tools
*.vsp
*.vspx
*.sap

## Visual Studio Code
.vscode/

## Others
*.exe
*.dll
*.pri
*.appx
*.appxbundle
*.appxrecipe
*.asmmeta
*.winmd
*.metagen
ipch/
*.VC.db
*.VC.opendb
